* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hwb(180 54% 35%);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.liquid-text {
    position: relative;
    display: inline-block;
    font-size: 80px;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

.liquid-text::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 2px white;
    color: #0b85b8;
    transition: width 1s ease;
}

.liquid-text:hover::before {
    width: 100%;
}
